/* common */
.box {
    width: 70%;
    margin: 50px auto;
    border: 1px solid black;
    padding: 20px;
}

.flex{
    width: 100%;
    display: flex;
    align-items: center;
}

h1, h3, p {
    text-align: center;
}

/* header */

/* image */
img{
    width: 100%;
    vertical-align: baseline;
}

.background-img {
    background-image: url(./media/images/8840374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    overflow: auto;
}

/* video */
video {
    width: 100%;
}

/* audio */
audio {
    width: 100%;
}
